<div class="footer-basic">
    <footer>
        <div id="info">
            <p style="font-weight: bold">
                Secretaria Municipal da Pessoa com Deficiência
            </p>
            <p>
                Rua Líbero Badaró, 425 - 32º andar - Centro Atendimento Presencial Segunda a sexta-feira (exceto feriados), das 9h às 17h.
            </p>
            <p>
                (11) 3913-4003        
            </p>
        </div>

        <div class="social">
            <a tabindex="0" href="https://www.facebook.com/SMPEDSP/"><img src="./assets/facebook.png" href="" class="icon"></a>
            <a tabindex="0" href="https://twitter.com/smpedsp"><img src="./assets/twitter.png" href="" class="icon"></a>
            <a tabindex="0" href="https://www.youtube.com/user/inclusaosp"><img src="./assets/youtube.png" href="" class="icon"></a>
            <a tabindex="0" href="https://www.instagram.com/smpedsp/?hl=pt-br"><img src="./assets/instagram.png" href="" class="icon"></a>
        </div>

        <div class="selo">
            <img src="https://www.prefeitura.sp.gov.br/cidade/img/sa2.svg" height="70" alt="Este sitio possui um selo de acessibilidade digital.">
        </div>
        <p class="copyright">Secretaria Municipal da Pessoa com Deficiência © 2022</p>
    </footer>
</div>