<div id="pginicial">
    <div id="titulo">
        <h1>Bem vindo ao Observatório Municipal da Pessoa com Deficiência!</h1>
    </div>
    <br>
    <iframe width="600" height="320" src="https://www.youtube.com/embed/hUMobpx89GM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <div id="text">
        <p>
            O Observatório Municipal da Pessoa com Deficiência é uma iniciativa transversal que dialoga e troca com todas as áreas e astas da Prefeitura de São Paulo, reunindo assim os mais diversos indicadores relativos À pessoa com deficiência, estabelecendo correlações entre as áreas e compreendendo a pessoa com deficiência em sua totalidade.
        </p>
        <p>    
            Faz parte do desenvolvimento das atividades do Observatório a implantação de sistemas e plataformas de tecnologia que permitam analisar, compilar e publicizar as análises e estudos produzidos – sempre partindo dos pressupostos de garantir acessibilidade digital e transparência.
        </p>
    </div>

</div>
