<div id="pginicial">
    <div id="titulo">
        <h1>Contato</h1>
    </div>
    <div id="text">
        <p id="frstLine">
            Para entrar em contato com nossa equipe disponilizamos nosso telefone, nosso email e nosso endereço:</p>
        <p>    
        <br>    
            Telefone: (11) 3913-4003</p>
        <p>
            Email: observatório.smped@gmail.com</p>
        <p>
            Endereço: Rua Líbero Badaró, 425 - Centro Histórico de São Paulo, São Paulo</p>
    </div>

</div>
