<div id="pginicial">
    <div id="titulo">
        <h1>Ajuda</h1>
    </div>
    <br>    
    <div id="text">
        <p>
            Caso esteja com dificuldade em utilizar o Observatório Municipal da Pessoa com Deficiência assista o vídeo abaixo:</p>
    </div>
    <iframe width="600" height="320" src="https://www.youtube.com/embed/hUMobpx89GM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
