<div class="table">
    <ul id="atalhos">  
        <li tabindex="-1" routerLink=""><a tabindex="0" class="hover" id="pgInicial" title="Página Inicial">Página Inicial</a></li>  
          
        <li tabindex="-1" routerLink="objetivo"><a tabindex="0" class="hover" id="Objetivo" title="Objetivo">Objetivo</a></li>  
              
        <li tabindex="-1" routerLink="paineis"><a tabindex="0" class="hover" id="Paineis" title="Painéis">Painéis</a></li>   
              
        <li tabindex="-1" routerLink="/mapa-rede-servicos-acessiveis" class="twolines"><a tabindex="0" class="hover" id="Mapa" title="Mapa da Rede de Serviços Acessíveis">Mapa da Rede de Serviços Acessíveis</a></li>
            
        <li tabindex="-1" routerLink="/contatos" ><a tabindex="0" class="hover" id="Contato"  title="Contato">Contato</a></li> 

        <li tabindex="-1" routerLink="/ajuda"><a tabindex="0" class="hover" id="Ajuda" title="Ajuda">Ajuda</a></li> 
    </ul>
</div>
  