<div id="pginicial">
    <div id="titulo">
        <h1>Mapa da Rede de Serviços Acessíveis</h1>
    </div>
    <br>
    <iframe src="https://www.google.com/maps/d/embed?mid=1Iuowv-fzbrNxTssTRVtHYhMKlXk&ehbc=2E312F" width="640" height="480"></iframe>
    <div id="text">
        <p>
            O Mapa de Rede da Pessoa com Deficiência é um instrumento que disponibiliza geograficamente os equipamentos públicos acessíveis e que prestam atendimento à pessoa com deficiência em São Paulo. Possui como foco principal a simplificação, na busca pelas informações sobre acessibilidade na cidade de São Paulo. É um mapa online que traz destacados os equipamentos públicos acessíveis organizados de maneira simples para consulta e análise. Além de trazer informações como endereço e telefone para contato, traz também informações sobre o tipo de acessibilidade do local. Vale ressaltar que nem todos os equipamentos são plenamente acessíveis, alguns apresentam requisitos mínimos de acessibilidade para garantir o acesso da pessoa com deficiência.
        </p>
        <br>
        <p>    
            O Objetivo do Mapa é facilitar a busca por equipamentos públicos acessíveis na cidade de São Paulo e centralizar as informações de acessibilidade desses equipamentos. O uso de uma plataforma popularmente conhecido e de fácil utilização, o mapa do Google, garante ao munícipe informação centralizada, rápida e transparente permitindo que os deslocamentos pela cidade se tornem mais fáceis.        
        </p>
        <br>
        <p>    
            O Mapa foi feito com pesquisa e busca sobre os equipamentos públicos acessíveis em cada secretaria e com o apoio também da Comissão Permanente de Acessibilidade da SMPED. As informações foram reunidas através de diálogos entre a SMPED e as demais secretarias, além de intensa pesquisa dentro da prefeitura e publicações de Institutos que já dialogam com as secretarias. O Mapa está em constante construção e não está finalizado. Espera-se que cresça cada vez mais e aglomere mais e mais informações.        </p>
    </div>

</div>
